.login-containerF {
    background: linear-gradient( beige, #176B4D,beige);
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.login-conatiner {
    display: grid;
    /* place-items: center; */
    height: 460px;
    width: 790px;
    background-color: white;
    grid-template-columns: 60% 35%;
    border-radius: 10px;
}

.containerImgLogin {
    display: grid;
    place-items: center;
}

.containerImg {
    display: flex;
    height: 461px;
    /* border: 3px solid blue; */
    justify-content: center;
    align-items: center;
    background-image: url('../../../assests/images/BANNER---CVI-GARDEN.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    width: 432px;
}

.imgLogoLogin {
    height: 100px;
    width: 116px;
    border-radius: 57px;
    border: 1px solid #2aa45b;
}

.containerForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* height: 100vh; */
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    font-weight: 300;
    font-size: 17px;
    margin-bottom: 6px;
    font-family: verdana;
    color: #454545;
}

form input {
    border-radius: 6px;
    height: 29px;
    border: 0.5px solid #c4c4c4;
    margin-bottom: 15px;
}

div div h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    color: #454545;
    font-family: Noto Sans Thai;
    margin-top: -13px;
}

.containerBtnLogin {
    display: flex;
    margin-top: 14px;
    flex-wrap: wrap;
}

.btnLogin {
    background-color: #85bd26;
    width: 269px;
    height: 40px;
    color: white;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
}


@media only screen and (max-width: 1000px) {

    .login-conatiner {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
    }
    .containerImg {
    display: none;
    }

   

form {
    margin-top: 15px;
}

form label {
    font-weight: 600;
}

form input {
    height: 29px;
}

.btnLogin {
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

}