.contacContainer {
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

}

.ant-input-affix-wrapper-lg {
    height: 35px;
}

.ant-form-vertical .ant-form-item-label>label {
    color: #10B759;
}

.ant-card .ant-card-head-title {
    color: #10B759;
}
.ant-btn.ant-btn-lg{
    background-color: #10B759;
}
.containerBtnContact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media only screen and (max-width: 500px) {
    .cardContact {

        width: 200px !important;
    }

    .contacContainer {
        margin-bottom: 32px;
    }

}