.formFormSeller {
    padding: 0 20px;
    background-repeat: repeat-y;
    min-height: 100vh;
}

.formTitle {
    /* background: linear-gradient(200deg, rgb(240, 255, 238) 0%, rgb(147, 252, 172) 100%); */
    background-color: white;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

.ant-row css-dev-only-do-not-override-k83k30 {
    background-color: #b3847182 !important;
}

.itemFormSeller {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.inputFormSeller {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 289px;
    text-align: left;
}